header {
  background-image: linear-gradient(#988686, #d1d0d0);
  background-color: #988686;
  height: 68px;
  width: 100%;
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  height: 68px;
}

.logo {
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: #ffffff !important;
  transition: transform 0.4s;
}

.logo:hover {
  transform: scale(1.2);
}

.logo i {
  color: #ffffff;
}

.nav-menu {
  display: flex;
}

.nav-menu a {
  font-size: 18px;
  margin: 0 10px;
  width: max-content;
  color: #ffffff;
  text-transform: uppercase;
}

.nav-link {
  padding: 6px 12px;
  border-radius: 3px;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #5c4e4e;
}

.nav-link:visited {
  color: #ffffff;
}

.nav-link:active {
  color: #ffffff;
  background-color: #5c4e4e;
}

.nav-redes {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-redes a {
  font-size: 35px;
  margin-right: 10px;
  margin-left: 10px;
  width: max-content;
  color: #ffffff;
}

#face:hover {
  color: #1977f3;
}

#insta:hover {
  color: #9b31ab;
  border-radius: 8px;
  height: 30px;
}

/* section bienvenida */

.jumbotron {
  max-width: 100%;
  height: 90vh;
  margin-bottom: 15px;
  background: url(../images/maxresdefault.jpg) center center fixed;
  background-size: cover;
  background-position: center;
}

/* oscureser imagen de fondo CAMBIAR */
.jumbotron:before {
  content: "";
  position: absolute;
  height: 90vh;
  top: 68px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.text {
  padding-top: 15px;
  padding-bottom: 15px;
}

.intro {
  text-align: center;
  padding-top: 80px;
}

.intro i {
  font-size: 100px;
  padding-bottom: 10px;
  color: #ffffff;
  position: relative;
}

.intro h1 {
  font-size: 60px;
  color: #fff;
  position: relative;
}

.intro p {
  color: #fff;
  position: relative;
}

.btn-outline-secondary {
  border-color: #d1d0d0;
  color: #d1d0d0;
}

.btn-outline-secondary:hover {
  background-color: #5c4e4e;
  border-color: #5c4e4e;
}

/* galeria de imagenes bienvenida */

.text-galeria {
  text-align: center;
  margin-top: 10px;
  padding: 40px 0px 5px 0px;
}

.text-galeria h2 {
  font-size: 30px;
  padding-bottom: 5px;
}

.galeria-inicio a {
  text-decoration: none;
  color: #333;
}

.galeria-inicio a:visited {
  text-decoration: none;
}

.galeria-inicio a:hover {
  color: #444;
}

.galeria-inicio h3 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.text-galeria p {
  font-size: 15px;
  color: #666;
  font-style: italic;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;
  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grid-item:hover {
  transform: scale(1.04);
}

.item1 {
  width: 520px;
  height: 350px;
}

.item2 {
  width: 520px;
  height: 635px;
}

.item3 {
  width: 520px;
  height: 550px;
}

.item4 {
  width: 520px;
  height: 510px;
}

.item5 {
  width: 520px;
  height: 265px;
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

footer {
  margin-top: 65px;
  padding: 45px 0px 0px 0px;
  background-color: #d1d0d0;
  border-style: solid;
  border-color: #988686;
  border-width: 2px 0px 0px 0px;
}

.feed-instagram {
  padding: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer h2 {
  text-align: center;
  font-size: 25px;
  color: #444;
  padding: 15px;
}

footer p {
  color: #444;
  margin-left: 80px;
}

.imagen-mapa {
  width: 337px;
  border-style: solid;
  border-color: #988686;
  border-width: 2px;
}

.contacto1 a {
  margin-left: 80px;
}

.metodos-de-pago {
  width: 100%;
}

.fondo-pagina {
  text-align: center;
  background-color: #988686;
  padding: 20px 0px;
  margin-top: 40px;
}

.fondo-pagina p {
  margin: 0px;
  color: #333;
}

/* section nosotros */

.titulo-nosotros {
  text-align: center;
  font-size: 15px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.nosotros {
  padding: 20px;
}

.texto-nosotros {
  text-align: end;
  padding: 100px 0px 0px 0px;
}

.texto-nosotros-2 {
  text-align: center;
  padding: 100px 0px 0px 0px;
}

.img-nosotros {
  height: 550px;
}

.img-nosotros-2 {
  width: 460px;
  height: 550px;
}
